.graph {
    .header {
        margin-left: 20px;
    }

    .content {
        max-width: 1240px;
        display: flex;
        margin: 0 auto;
        margin-top: 20px;

        .display {
            width: 800px;

            .cytoscape-graph {
                height: 500px;
            }
        }

        .update {
            width: 400px;
            margin-left: 12px;
            .cytograph-edit {
                .button_group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .cytograph-edit-add {
                    .form {
                        .node {
                            .addNode {
                                width: 100%;
                            }

                            .button {
                                margin-top: 24px;
                            }
                        }
                        .selectingNodes {
                            .two_nodes {
                                margin-top: 20px;
                                .source {
                                    margin-right: 5px;
                                    width: 45%
                                }

                                .target {
                                    margin-left: 5px;
                                    width: 45%
                                }
                            }
                            .weight_button {
                                margin-top: 10px;
                            }

                            .button {
                                margin-top: 20px;
                            }
                        }
                    }
                }
                
                .cytograph-edit-update {
                    .form {
                        .node {
                            .textfield {
                                margin-top: 12px;
                            }
                            .button {
                                margin-top: 12px;
                            }
                        }
                        .edge {
                            .edgeWeightSelect {
                                margin-top: 6px;
                                margin-bottom: 12px;
                            }
                            .textfield {
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
                .cytograph-edit-delete {
                    .form {
                        .node {
                            .textfield {
                                margin-top: 12px;
                            }
                            .button {
                                margin-top: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}