.hashtable {
    .header {
        margin-left: 20px;
    }

    .card {
        width: 800px;
        margin: 0 auto;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .buttongroup {
        margin: 0 auto;
        display: flex;
    }
}