@import './home';
@import './graph';
@import './stackqueue';
@import './hashtable';
@import './tree';

body {
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    margin: 0;
    background-color: #DAE0E6;
}